<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body class="bg-dark text-white">
    <nav class="navbar navbar-dark bg-black px-4">
        <span class="navbar-brand fw-bold">Portofolio</span>
        <a class="btn btn-outline-light" href="/login"></a>
    </nav>

    <div class="container py-5">
        <h2 class="mb-4">Skills</h2>
        <div class="row g-4">
            {% for s in skills %}
            <div class="col-md-3"> 
                <div class="card bg-secondary text-white">
                    <img src="{{s[3]}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5>{{s[1]}}</h5>
                        <p>Level: {{s[2]}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <hr class="my-5 border-light">

        <h2 class="mb-4">Project
        <div>
            {% for s in skills %}
            <div class="col-md-3"> 
                <div class="card bg-secondary text-white">
                    <img src="{{s[3]}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5>{{s[1]}}</h5>
                        <p>Level: {{s[2]}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}  
        </div>
        </h2>

    </div>
    
</body>
</html>